<div style="display:flex; justify-content: space-between"/>
    <div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{major.name}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{major.code}}</h6>
        <p class="card-text">{{major.description}}</p>
        <a href="#" class="card-link">Editar</a>
        <a href="#" class="card-link">Deletar</a>
    </div>
    </div>
    <div><a href="/major" class="btn btn-primary">Voltar</a></div>
</div>